button{
    width: 50px;height: 40px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 2px 2px #888888;
}
button:hover{
  background-color: beige;
}

.tg  {background-color: aliceblue;padding: 10px;box-shadow: 0 2px 2px #888888;border-radius: 20px;margin: auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;word-break:normal;width: 50px;height: 40px;padding: 3px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;padding-bottom: 10px;
  font-weight:normal;overflow:hidden;word-break:normal;height: 50px;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg th #val{
  width: 321px;
  height: 30px;
  padding: 7px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border-radius:50px;
  box-shadow: 0 2px 2px #888888;
}
.tg td > #samad{
  height: 83px;
}
button > #samad :hover{
  background-color: red;
}